body, head {
    margin: 0;
}

body {
}

.modal-dialog {
    height: 900px;
    width: 602px;
}

.frame {
    margin-top: 20px;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
}

.paletteSelection {
    float: left;
    width: 25px;
    height: 85px;
    text-align: center;
}

svg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.paletteSelection:hover {
    background-color: #ccc;
    cursor: pointer;
}

#nOdataClasses:hover {
    cursor: pointer;
}

#summary thead td {
    font-weight: bold;
    text-transform: uppercase;
}

#summary td {
    border: solid 1px;
    border-collapse: collapse;
    border-spacing: 0.5rem;
}

.min, .avg, .max {
    text-align: right;
}

#drop {
    min-height: 150px;
    width: 90%;
    border: 3px dashed blue;
    margin: 5%;
    padding: 10px;
    font-weight: bold;
    font-size: medium;
}

tbody tr:hover {
    background-color: gainsboro;
    cursor: pointer;
}

#generatePaletteBtn {
    margin-left: 12px;
}